<div class="dialogs-list-page">
   <app-header></app-header>

   <div class="dialogs-list-wrapper">
      <div class="search">
         <input class="find-message" placeholder="Поиск" autoFocus />
         <div class="create-dialog">
            <button></button>
         </div>
      </div>

      <div class="dialogs-list">
         <div class="dialog">
            <div class="image-wrapper">
               <img src="https://sun9-32.userapi.com/c858120/v858120477/5f4dd/2BZY9AMLBpw.jpg" alt="" />
            </div>
            <div class="dialog-info">
               <div class="top-line">
                  <span class="dialog-name">1231231</span>
                  <span class="time">18:34</span>
               </div>
               <div class="last-message">
                  <img src="https://sun9-32.userapi.com/c858120/v858120477/5f4dd/2BZY9AMLBpw.jpg" alt="" />
                  <span class="unread">dfgdfgd</span>
               </div>
            </div>
         </div>
      </div>

   </div>

</div>
