.message-page {
   width: 100%;
   max-width: 650px;
   height: 100%;
   margin: 13px 0;
   background-color: #fff;
   border: 1px solid #E3E4E8;
   border-radius: 4px;
   box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;

   &:before {
    content: '';
    position: fixed;
    z-index: 10;
    top: 42px;
    left: -5px;
    width: calc(100% + 10px);
    height: 14px;
    background-color: #EDEEF0;
  }
}
 