// @font-face {
//   font-family: 'Arial Regular';
//   src: url('assets/fonts/arial/Arial-Regular.ttf');
// }

@font-face {
  font-family: 'Roboto Regular';
  src: url('assets/fonts/roboto/Roboto-Regular.ttf');
}


@font-face {
  font-family: 'Roboto Medium';
  src: url('assets/fonts/roboto/Roboto-Medium.ttf');
}

body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  min-height: 100vh;
  margin-top: 42px;
  background-color: #EDEEF0;
  display: flex;
  flex-direction: column;
  align-items: center;
}


* {
  font-family: 'Roboto Regular';
  font-weight: 500;
  font-size: 14px;
  outline: none;
  border: none;
}
